<%= render partial: "shared/nav-bar" %>

<h1>Welcome to Planeswalker's Progress</h1>
<h3>"Now this is Pod Tracking!"</h3>

<%= button_to "Register as a new player", "/players/new", method: :get, data: { turbo: false } %>